.page-template-page-archives{

    h1{
        width:100%;
        text-transform: capitalize;
        font-size:2em;
        margin-bottom:2%;
        
    }

    .author-list, 
    .categories-list, 
    .tags-list {
        
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        margin: 0px;
        padding: 0px;
        justify-content: flex-start;

        li{
            margin-right:3%;
           
        }
        a{
            font-size:1.1rem;
            font-weight:300;
        }

        a:hover{
            color:#277700;
        }

    }

   
    span.author-wrapper{
        width:100%;
       
    }

    .archives-container{
        display:flex;
    }
    
    .Authors, 
    .categories,
    .Tags-archives{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin:5%;
      
    } 

    .categories,
    .Tags-archives{
        margin:5%;
    }

    footer{
        margin-top:10%;

        
    }


    @media (min-width:$breakpoint-tablet){
        

        .author-list, 
        .categories-list, 
        .tags-list {
            margin-right:2%;
            a{
               
                font-size:1.4rem;
                font-weight: 300;
                // font-family: 'Exo';

            }
        }

        .page-title{
            margin-top:0px;
            font-size:1.7rem;
            font-weight:bold;
            
        }

        .site-content h1{
            font-weight:400;
            font-size:1.5em;
        }
    }


     @media (min-width:$breakpoint-desktop){

        span.author-wrapper{
        display:inline-flex;
        flex-wrap:wrap;
        padding-top:0px;
        margin-left:3%;

            .Authors{
                margin-top:0px;
            }

        }

        ul a{
            font-size:3rem;
        }

        .archives-container{
            margin:10%;
            margin-top:2%;
         
                width: 80%;
            }

        .site-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        

    }

}