.blog {

    .site-content {
        margin-top: 15%;
    }

    .site-main {
        margin: 2%;
    }

    .random-post {
        margin-top: 5%;
        margin-bottom: 10%;
        article {
            margin-top: 0px;
        }
    }

    .random-quote {
        font-size: 1.3rem;
    }

    .author-quote {
        color: $white;
        font-weight: 300; 
        font-size: 1.2rem;
        margin-right: 0px;
    }

    .quote-link {
        color: white;
        font-weight: 300; 
        font-size: 1.2rem;
    }

    #get-quote-btn {
        background-color: transparent;
        box-shadow: none;
        border: 2px solid $green;
        text-shadow: none;
        color: $green;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin-top: 10%;
        background: none;
    }
    #get-quote-btn:hover {
        color: #277700;
        border: 2px solid #277700;
    }
    button:focus {
        outline: none;
    }


    @media (min-width:$breakpoint-tablet) {

        .site-content {
            margin-top: 10%;
        }

        #get-quote-btn {
            margin-top: 5%;
        }

        .random-quote {
            font-size: 1.9rem
        }

        button {
            width: 15rem;
            height: 3rem;
        }
    }


    @media (min-width:$breakpoint-desktop) {

        .site-content {
            margin-top: 5%;
        }

        .single-quote-content {
            display: flex;
            justify-content: center;
        }

        .site-main {
            margin-top: 0;
        }

        .content-area {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .content-wrapper {
            display: flex;
            width: 70%;
            justify-content: space-between;
        }

        .random-post {
            margin-top: 0px;
            padding: 2%;
            display: flex;
            flex-direction: column;
            p {
                font-size: 2.5rem;
            }
        }

        .random-quote-wrapper {
            width: 80%;
            display: flex;
            justify-content: center;
        }

        .random-quote p {
            margin-top: 0px;
        }

        .button-container {
            display: flex;
            justify-content: center;
            padding-top: 5%;
            button {
                width: 20rem;
                height: 4rem;
            }
        }
        
        #get-quote-btn {
            margin-top: 0%;
        }
    }
}