
.post-template-default.single{

    .content-wrapper{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        margin-left:3%;

    }

    .content-area{
        margin-top:5%;
        margin-bottom:5%;

        .site-main{
            padding-bottom: 10%;
            
        }
    }

    #get-quote-btn{
        background-color: transparent;
        box-shadow:none;
        border: 2px solid $green;
        text-shadow:none;
        color:$green;
        font-family:"Exo";
        font-size:1.2rem;
        text-transform: capitalize;
        margin-top:0%;
        width:15rem;
        background:none;
        
    }
  
    #get-quote-btn:hover{
        color:#277700;
        border: 2px solid #277700;
    }

    button:focus { 
        outline: none;      
    }   

    .quote-link, .random-quote{
        font-weight: 300;
        font-size:1.25rem;
    }    

    


    @media (min-width:$breakpoint-tablet){

        .content-area{
            margin-top:0%;
        }

        .random-quote{
            font-size: 1.75rem;
            
        }
        .quote-link{
            font-size: 1.25rem;
        }

        button{
            height: 3rem;
        }
    }



    @media (min-width:$breakpoint-desktop){

        .content-area{
            display:flex;
            width:100%;
            justify-content:center;
            margin-top: 5%;
        }

        .content-wrapper{
            flex-direction: row;
            display: flex;
            width: 80%;
        }

        .site-main{
            width: 70%;
            padding-left: 3%;
            padding-right: 3%;
        }

        .entry-header{
            margin-top:0%;
            height:auto;
        }


        .random-quote p{
            font-size:2rem;
            margin:0px;
            margin-bottom: 4%;
        }

        .quote-link{
            font-size: 1.25rem;
        }

        .button-container{
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top:5%; 
        }

    }

}